// Color
$bodyColor: #FEECE9;
$basePurple: #19072d;
$baseWhite: #F5F5F5;
$baseYellow: #fcba03;

// Poke Types
$baseNormal: #A8A878;
$baseFire: #F08030;
$baseFighting: #C03028;
$baseWater: #6890F0;
$baseFlying: #A890F0;
$baseGrass: #78C850;
$basePoison: #A040A0;
$baseElectric: #F8D030;
$baseGround: #E0C068;
$basePsychic: #F85888;
$baseRock: #B8A038;
$baseIce: #98D8D8;
$baseBug: #A8B820;
$baseDragon: #7038F8;
$baseGhost: #705898;
$baseDark: #705848;
$baseSteal: #B8B8D0;
$baseFairy: #EE99AC;
$baseUnknown: #68A090;

// Font 
$exo2: "Exo 2", sans-serif;